@{
}

<p>Create Connection</p>

<form method="post">
    <div class="mb-3">
        <div class="form-floating">
            <input name="name" id="name" class="form-control" aria-describedby="connection name"/>
            <label for="name">Connection Name</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-floating">
            <input name="ip" id="ip" class="form-control" aria-describedby="connection ip"/>
            <label for="ip">Connection IP</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-floating">
            <input name="database" id="database" class="form-control" aria-describedby="connection Database"/>
            <label for="database">Connection Database</label>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>